.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.header__logo {
  margin-right: 15px;

  svg {
    fill: #F58D41;
    width: 150px;
  }
}

.header__nav {
  @include sm {
    background: $white;
    opacity: 1;
  }
}

.nav__list {
  @include sm {
    display: block;
    width: 100%;
    text-align: center;
  }

  display: flex;
}

.nav__item {
  &:not(:last-child) {
    @include md {
      margin-right: 25px;
    }

    @include sm {
      margin-right: 0;
      margin-bottom: 30px;
    }

    margin-right: 55px;
  }
}

.nav__link {
  @include sm {
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    color: $orange;
  }

  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  line-height: 30px;
  color: $black;


  &:hover {
    background-position: 0;

    &::before {
      width: 100%;
    }
  }

  &::before {
    content: "";
    background: $orange;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
}

.header__burger {
  @include sm {
    display: block;
  }

  display: none;
  position: relative;
  z-index: 10;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: none;
  background: transparent;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: $orange;
    transform: translate(-50%, -50%);
    transition: all 0.6s;
  }
}

.header__nav {
  @include sm {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
}

.header__burger span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.header__burger span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.header__nav.active {
  transform: translateX(0);
}

.header__burger.active span:first-of-type {
  transform: translateX(100%);
}

.header__burger.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.header__burger.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}