.calculator__title {
  text-align: center;
}

.calculator__field {
  width: 100%;
  margin-top: 30px;
  padding: 30px 0;
}

.calculator__subtitle {
  @include f500;

  text-align: center;
  margin-top: 30px;
}

.calculator__subtitle:first-child {
  margin-top: 0;
}

.calculator__choose {
  @include lg {
    max-width: 100%;
  }

  @include md {
    flex-direction: column;
    align-items: center;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 30px;
}

.calculator__choose-item {
  @include md {
    width: 400px;
    max-width: 100%;
    margin: 5px 0;
    padding: 0;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  padding: 0 10px;
  transition: 0.3s all;
  background: $white;
  box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.calculator__choose-item_active {
  color: $white;
  background-color: $green;
}

.calculator__choose_medium {
  justify-content: space-between;
  width: 750px;
  margin: 30px auto 0;
}

.calculator__choose_big {
  justify-content: space-between;
  width: 900px;
  margin: 30px auto 0;
}

.calculator__divider {
  @include lg {
    display: none;
  }

  width: 500px;
  height: 1px;
  margin: 40px auto;
  background-color: rgb(0 0 0 / 20%);
}

.calculator__total {
  @include sm {
    flex-direction: column;
    width: 100%;
  }

  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 500px;
  margin: 0 auto;
}

.calculator__result {
  font-size: 18px;
  font-weight: 700;
}

.calculator__result span {
  font-size: 36px;
}

.calculator {
  button,
  input {
    &:hover {
      background-color: $orange;
    }
  }
}
